<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spirkl</title>
</head>
<body style='font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; background-color: #CCC;'>

<div style="padding: 20px; width: 900px; height: 100%; min-height: 500px; text-align: left; background-color: white;">
    <p>

    <img src="https://ca.slack-edge.com/T03U09BDH-U9CFC3NUS-3831dc7b5421-1024" width="300px" align="left" style="padding: 10px;">
    <h1>Stefan Spirkl</h1>
    Team: GollwitzerSpirklPartner<br /><br />

    Major: Information Systems<br />
    Favorite course: Softwareengineering<br />

    <h3>Did he break something?</h3>
    To receive lifetime support regarding code published by this student, <a href="mailto:ullrich.hafner@hm.edu?subject=Please Help!!!!111">click here</a>.

    <h3>Current Occoupation</h3>
    Stefan is a student intern at german VC firm <a href="http://www.targetpartners.de">Target Partners</a>
    and CEO of <a href="http://www.logos-gmbh.com">LOGOS GmbH</a>.
    He is currently enrolled at the Faculty for Computer Science & Engineering and holds a Deutschlandstipendium.

    <h3>Links</h3>
    <ul>
        <li><a href="/gollwitzer">Lukas Page</a></li>
    </ul>

    <h3>Cats</h3>
    <img src="https://d3jkudlc7u70kh.cloudfront.net/cat-facts.jpg" />

    </p>

</div>


</body>
</html>